/* 
	light gray = #e6e6e6
	medium gray = #d1cfcf
	dark gray = #333333
	light green = 
	dark green = #009245
*/

@font-face {
	font-family: 'Karla', sans-serif;
	font-family: 'Rubia', serif;
}

body {
	background-color: #333333;
}
#fixedbackground {
	position: fixed;
	background: #e6e6e6;
	width: 100%;
	height: 100%;
}
#main_container {
	width: 100%;
	height: 100%;
	opacity: 1;
	
}
a {
	text-decoration: none;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333333;
	opacity: 0;
	z-index: 100;
}


/* TOP */

.bg_container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.bg {
	background-image: url(../images/feature_4.jpg);
	background-color: #e6e6e6;
	background-size: 150%;
	background-position: center center;
	position: absolute;
	opacity: .5;
	width: 100%;
	height: 150%;
	top: -200px;
}

#date {
	position: fixed;
	width: 250px;
	height: 50px;
	background: white;
	right: 70px;
	z-index: 100;
	top: -100px;
	opacity: 0;
	z-index: 200;
}
#date p {
	font-family: Rubia;
	color: #d1cfcf;
	font-size: 1.2em;
	text-align: center;
	padding-top: 14px;
}

.footer {
	position: fixed;
	z-index: 100;
}
#search2 {
	width: 600px;
	height: 70px;
	background: white;
	bottom: 0px;
	padding-bottom: 7px;
	right: 300px;
	z-index: 120;
	display: none;
}
#mag {
	position: absolute;
	margin-top: 10px;
	margin-left: 25px;
	width: 40px;
	height: 40px;
	background:  url(../images/search_1.png);
	background-size: 130%;
}

fieldset {
	padding-left: 75px;
	padding-top: 15px;
}
input, textarea {
	width: 450px;
	height: 30px;
	outline: none;
	text-shadow: none;
	font-family: Rubia;
	font-size: 1.5em;
	color: #333333;
	border: none ;
	border-bottom: solid 2px #333333;
}
input:focus, textarea:focus {
	outline:0;
}
::-webkit-input-placeholder {
    color: #d1cfcf; 
}
::-moz-input-placeholder {
    color: #d1cfcf;
}
::-ms-input-placeholder {
    color: #d1cfcf;
}

button {
	background: url(../images/search_2.png);
	background-size: 100%;
	background-position: 50% 50%;
	position: absolute;
	width: 40px;
	height: 40px;
	border: none;
	display: inline-block;
	right: 35px;
	top: 13px;
}
a button:hover {
	transform: scale(.98);
}

#fullfooter {
	width: 90%;
	left: 5%;
	bottom: 0px; /* changed from -100px for the slideUp/Down actions to work */
	height: 70px;
	background: white;
	padding-top: 10px;
	z-index: 110;
	box-shadow: 0px 0px 5px #e6e6e6;
	display: none;
}
#logo {
	width: 240px;
	height: 50px;
	background: url(../images/logo.png) no-repeat;
	background-size: 90%;
	margin-left: 10px;
	display: inline-block;
	padding-top: 10px;
}
a #logo:hover {
	transform: scale(.98);
	
	}

ul.links {
	position: absolute;
	display: inline-block;
	height: 40px;
	width: 200px;
	columns: 2;
  	-webkit-columns: 2;
  	-moz-columns: 2;
	list-style: none;
	margin-top: 10px;
}
li a {
	text-decoration: none;
	font-family: Karla;
	font-size: .8em;
	text-transform: uppercase;
	color: #333333;
}
li.subscribe a {
	color: #009245;
}
li a:hover {
	color: lightgray;
}

#weather {
	position: absolute;
	right: 0;
	width: 150px;
	top: 0px;
	height: 50px;
}
#clouds {
	background: url(../images/weather_1.png);
	height: 45px;
	background-size: 100%;
	width: 45px;
	display: inline-block;
	margin-top: 13px;
}
h6 {
	position: absolute;
	width: 50px;
	font-family: Karla;
	font-size: 1.5em;
	display: inline-block;
	padding-top: 15px;
	color: #009245;
}
#weather p {
	font-family: rubia;
	position: absolute;
	display: inline-block;
	padding-top: 40px;
	font-size: .7em;
	color: #e6e6e6;
	font-style: italic;
}

#top {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Karla;
	font-size: 90pt;
	
}
#title2 {
	position: relative;
	width: 700px;
	height: 75px;
	left: 50%;
	top: 40%;
	margin-left: -550px;
	margin-top: -142px;
	font-size: .45em;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
	padding: 75px 200px 130px 200px;
	border: solid white 1px;
	opacity: 0;
}
h1 {
	display: none;
	color: #333333;
	width: 330px;
	display: inline;
}

.toptext {
	position: absolute;
	font-family: Rubia;
	color: #009245;
	font-size: .3em;
	width: 1100px;
	opacity: 0;
	display: inline-block;	
	top: -100px;
	letter-spacing: 1px;
}
#author {
	left: 50%;
	margin-left: -550px;
	text-align: left;
}
#date2 {
	left: 50%;
	margin-left: -550px;
	text-align: right;
}

#corner {
	position: absolute;
	width: 300px;
	height: 300px;
	bottom: -150px;
	left: -150px;
	background: #e6e6e6;
	transform: rotate(45deg);
}
#cornericon {
	position: absolute;
	width: 150px;
	height: 150px;
	bottom: -10px;
	left: 20px;
	background: url(../images/feature_star.png) no-repeat;
	opacity: 0;
}
#cornericon2 {
	position: absolute;
	width: 150px;
	height: 150px;
	bottom: -10px;
	left: 20px;
	background: url(../images/feature_star.png) no-repeat;
	opacity: 0;
}
#arrow2 {
	position: absolute;
	background: url(../images/arrow_1.png);
	width: 30px;
	height: 50px;
	bottom: 100px;
	right: 50px;
	opacity: 0;
}

.anchor {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;	
}


/* MAIN */

#bottom_container {
	position: absolute;
	top: 102%;
	width: 100%;
	height: 2050px;
}

#arrow3 {
	position: absolute;
	width: 500px;
	height: 20px;
	background: url(../images/arrow_3.png);
	background-size: 100%;
	background-position: right center;
	left: 0px;
	top: 30px;
}

#article_container {
	width: 850px;
	position: absolute;
	left: 50%;
	margin-left: -455px;
	padding-top: 70px;
	z-index: 100;
	padding: 30px;
	
}
#article_container #text {
	position: absolute;
	z-index: 100;
	font-family: karla;
	line-height: 1.4;
	font-size: 1em;
	opacity: 1;
	padding: 100px;
	padding-top: 0px;
}
#text a {
	font-weight: 800;
	text-decoration: underline;
	transition: ease-in .2s;
	color: #009245;
}
#text a:hover {
	color: black;
	transition: ease-in .2s;
}

.images {
	position: absolute;
	display: block;
	opacity: .8
}
#image_1 {
	position: absolute;
	background: url(../images/feature_2.jpg);
	background-size: 100%;
	width: 350px;
	height:550px;
	top: 150px;
	left: -180px;

}
#image_2 {
	background: url(../images/feature_3.jpg);
	background-size: 100%;
	width: 350px;
	height:550px;
	top: 600px;
	right: -150px;

}

.quotes {
	font-family: rubia;
	font-size: 4em;
	color: white;
	z-index: 50;
	display: inline;
	opacity: 0.3;
}
#quote_1 {
	position: relative;
	top: 400px;
	left: -250px;	
}
#quote_2 {
	position: relative;
	top: 690px;
	text-align: right;
	right: -250px;
}

#load_more {
	position: relative;
	width: 900px;
	top: 1905px;
	height: 60px;
 	left: 50%;
	margin-left: -450px;
	z-index: 100;
}
#load_more a {
	background-color: white;
	position: relative;
	top: 40%;
	font-family: Rubia;
	color: #d1cfcf;
	padding: 20px 377px 20px 377px;
	transition: .1s ease-in;
	border: solid 1px white; 
}
#load_more a:hover {
	background-color: rgba(0, 0, 0, 0);
	border: solid 1px white; 
	color: white;
	transition: .1s ease-in;
}

#sidebar2 {
	position: absolute;
	left: 50%;
	top: 2000px;
	height: 200px;
	width: 840px;
	margin-left: -420px;
	
}
#ad1 {
	background: url(../images/ad_warbyparker_1.jpg);
	width: 170px;
	height: 170px;
	background-size: 100%;
	display: inline-block;
}
#ad2 {
	background: url(../images/ad_glossier.jpg);
	width: 170px;
	height: 170px;
	background-size: 100%;
	display: inline-block;
}

#suggested {
	position: absolute;
	z-index: 100;
	height: 300px;
	display: inline-block;
}
h5 {
	padding-bottom: 10px;
	padding-left: 15px;
	font-family: karla;
	font-weight: 800;
	text-decoration: underline;
	font-size: 1.4em;
}
a #one {
	margin-left: 15px;
	width: 150px;
	height: 150px;
	background: url(../images/article_1.jpg);
	background-size: 160%;
	background-position: center center;
	opacity: .7;
	transition: ease-in .2s;
	display: inline-block;
}
a #two {
	margin-left: 5px;
	width: 150px;
	height: 150px;
	background: url(../images/article_2.jpg);
	background-size: 160%;
	background-position: center 50%;
	opacity: .7;
	transition: ease-in .2s;
	display: inline-block;
}
a #three {
	margin-left: 5px;
	width: 150px;
	height: 150px;
	background: url(../images/video_2.jpg);
	background-size: 160%;
	background-position: 30% 65%;
	opacity: .7;
	transition: ease-in .2s;
	display: inline-block;
}
a #one:hover, a #two:hover, a #three:hover {
	opacity: 1;
	transition: ease-in .2s;
}
